* {
  margin: 0;
  padding: 0;
  font-family: consolas;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #001925;
}

.list {
  background: #042b3e;
  border-top: 50px solid #03a9f4;
  position: relative;
  padding: 30px 75px 10px 30px;
}

.list h2 {
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
  border-bottom: 4px solid #fff;
  display: inline-block;
  padding: 10px 0;
}

.list label {
  position: relative;
  display: block;
  margin: 40px 0;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.list input[type="checkbox"] {
  -webkit-appearance: none;
  /* 체크 시 리스트의 체크박스를 안보이게 함 */
}

.list i {
  position: absolute;
  border: 2px solid #fff;
  width: 25px;
  height: 25px;
  top: 2px;
  display: inline-block;
}
