* {
  margin: 0;
  padding: 0;
  font-family: consolas;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #001925;
}

.list {
  background: #042b3e;
  border-top: 50px solid #03a9f4;
  position: relative;
  padding: 30px;
}

.list h2 {
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
  border-bottom: 4px solid #fff;
  display: inline-block;
  padding: 10px 0;
}
