/* menu */
.menu {
  display: flex;
}

.menu-item {
  /* width: 25%; */
  flex-grow: 1;
  background: gold;
  transition: 0.5s;
}

.menu-item:hover {
  /* width: 35%; */
  flex-grow: 1.5;
  background: crimson;
}

/* a 태그가 들어있는 div */
.menu-link {
  display: block;
  /* 지금 현재 내 폰트 사이즈 만큼 패딩을 준다. */
  padding: 1em;
  /* font 요소는 root 요소인 html 태그의 폰트 사이즈의 1.2배를 사용. */
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover {
  color: white;
}

/* search */

.search-form {
  display: flex;
  height: 40px;
}

.search-form input[type="search"] {
  /* display flex가 적용된 search-form의 자식인 input은 flex-item이 되고 이는 기본적으로 align-items가 stretch이기 때문에 세로로 컨테이너의 크기만큼 늘어나게 된다. */
  flex: 1;
  margin-right: 10px;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
}

.search-form input[type="submit"] {
  width: 4em;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
  background: gold;
}

/* bullet list */
.info-list-item {
  /* item 안에 블릿과 텍스트가 들어갔으므로 여기에 flex를 적용한다. */
  display: flex;
  margin: 0.5em 0;
}
.info-list-item:before {
  /* copychar.cc 에서 가져옴. */
  content: "";
  margin-right: 0.5em;
}

/* message */
.user-item {
  display: flex;
  margin-bottom: 1.5em;
}

.user-photo {
  flex-shrink: 0;
  margin-right: 0.5em;
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: gold;
  background-repeat: no-repeat; /* 이미지 반복 없음. */
  background-position: center;
  background-size: 150%; /* 동그라미 안에 머리만 나오게 하기 위해서 %로 작성*/
}

/* friend-list */
.friend-item {
  align-items: center;
}
.user-name {
  /* 아래의 세 줄은 content보다 화면이 작아졌을 때 말줄임표가 나오도록 하는 방법이다. */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
